.bc__ac__fields_and_skills {
  grid-area: skills;
}

.bc-actorsheet-skills {
  margin-bottom: 3rem;
}

.bc__ac-skills {
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-end;
}

.bc__ac-fields {
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-end;
  margin-right: 3rem;
}
