.bc__ac__subheading {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bc__ac__label {
  flex: 1 1 auto;
  white-space: nowrap;
}

