<div>
  <hr>
  <h3>{{localize "BC.Sheet.RollTheDice"}}</h3>
  <div style="display:flex;">
    {{#each dice}}
      <button data-roll="{{this}}d6">{{this}}</button>
    {{/each}}
  </div>
  <hr>
</div>

