@font-face {
  font-family: "barbariregular";
  font-style: normal;
  font-weight: normal;
  src: url("/systems/brokencompass/assets/fonts/barbari-webfont.woff2") format("woff2"),
    url("/systems/brokencompass/assets/fonts/barbari-webfont.woff") format("woff");
}

.bc-actorsheet-div-column {
  display: flex;
}

.bc-actorsheet-div-column > :first-child {
  min-width: 12rem;
}

.bc-actorsheet-field {
  strong {
    font-family: "barbariregular", sans-serif;
    text-transform: uppercase;
  }
}

.bc-value-indicator {
  span {
    background: #fff;
    border: 3px solid #000;
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    width: 1rem;
  }

  &.bc-value-indicator--1 {
    span:nth-child(1) {
      background: #000;
    }
  }

  &.bc-value-indicator--2 {
    span:nth-child(-n + 2) {
      background: #000;
    }
  }

  &.bc-value-indicator--3 {
    span:nth-child(-n + 3) {
      background: #000;
    }
  }
}
